<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment accepted</title>
    <meta http-equiv="refresh" content="6;URL={{ path('app_flow_index') }}">
</head>
<body>
    <p>The payment has been accepted by your bank, you will be redirected to your merchant in few seconds.</p>
</body>
</html>